.ownerChangePassword{
    height: 560px;
    background: linear-gradient(to bottom, rgba(85, 85, 99, 0.781),rgba(255, 255, 255, 0.178) );
    padding: 10px;
}
.ownerChangePasswordContainer{
    margin: 60px 300px;
    padding: 20px;
    -webkit-box-shadow: 4px 4px 9px -1px #000000; 
    box-shadow: 4px 4px 9px -1px #000000;
    width: 50%;
    border-radius: 10px;
    background-color: white;
}
.ownerChangePasswordTitle{
    padding: 10px;
    text-align: center;
}
.ownerChangePasswordRow{
    display: flex;
    margin-top: 30px;
    align-items: center;
}
.ownerChangePasswordLabel{
    font-size: 15px;
    text-align: right;
    width: 238px;
    margin-right: 20px;
}
.ownerChangePasswordBoxElement{
    width: 250px;
    height: 25px;
    border-radius: 4px;
    border: 1px solid gray;
}
.ownerChangePasswordSubmitButton{
    border: none;
    background-color: darkgreen;
    color: #d7fdef;
    width: 80px;
    height: 30px;
    padding: 7px;
    border-radius: 7px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 10px;
}
.ownerChangePasswordSubmitButton:hover{
    color: darkgreen ;
    background-color: #d7fdef;

}
.ownerChangePasswordCancelButton{
    border: none;
    background-color: darkred;
    color: #ffdfe1;
    width: 80px;
    height: 30px;
    padding: 7px;
    border-radius: 7px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 10px;
}
.ownerChangePasswordCancelButton:hover{
    background-color: #ffdfe1;
    color:darkred;
}