.userBookingSuccess{
    background: linear-gradient(to bottom,#0a0a2bf3,white);
    height: 425px;
    padding: 20px;
}
.userBookingSuccessContainer{
    margin: 30px auto;
    width: 50%;
    background:linear-gradient(to bottom,rgba(255, 255, 255, 0.651),rgba(255, 255, 255, 0));
    border-bottom: 2px solid #0a0a2bf3;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
}
.userBookingSuccessConfetti{
    margin: 100px 400px;
}
.userBookingSuccessTitleWrapper{
    margin: 40px 0px;
}
.userBookingSuccessTitle{
    font-size: 20px;
}
.userBookingSuccessContentWrapper{
    margin-top: 20px;
}
.userBookingSuccessContent{
    font-size: 35px;    
    font-weight: 600;
}
.userBookingSuccessContentSlot{
    font-size: 40px;
    color: red;
}
.userBookingSuccessRow{
    display: flex;
    margin-top: 20px;
    width: 250px;
    margin: 20px auto;
    font-size: 18px;
}
.userBookingSuccessLabel{
    width: 100px;
    text-align: right;
    margin-right: 10px;
}
.userBookingSuccessButtonWrapper{
    margin-top: 50px;
}
.userBookingSuccessButton{
    padding: 5px;
    width: 90px;
    border: 0px;
    border-radius: 8px;
    background-color: green;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.userBookingSuccessButton:hover{
    background-color: rgb(179, 179, 179);
    color: green;
}