.userChangePassword{
    height: 560px;
    background: linear-gradient(to bottom,#0a0a2bf3,lightblue);
    padding: 10px;
}
.userChangePasswordContainer{
    margin: 60px 300px;
    padding: 20px;
    -webkit-box-shadow: 4px 4px 9px -1px #000000; 
    box-shadow: 4px 4px 9px -1px #000000;
    width: 50%;
    border-radius: 10px;
    background-color: white;
}
.userChangePasswordTitle{
    padding: 10px;
    text-align: center;
}
.userChangePasswordRow{
    display: flex;
    margin-top: 30px;
    align-items: center;
}
.userChangePasswordLabel{
    font-size: 15px;
    text-align: right;
    width: 238px;
    margin-right: 20px;
}
.userChangePasswordBoxElement{
    width: 250px;
    height: 25px;
    border-radius: 4px;
    border: 1px solid gray;
}
.userChangePasswordSubmitButton{
    border: none;
    background-color: darkgreen;
    color: #d7fdef;
    width: 80px;
    height: 30px;
    padding: 7px;
    border-radius: 7px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 10px;
}
.userChangePasswordSubmitButton:hover{
    color: darkgreen ;
    background-color: #d7fdef;

}
.userChangePasswordCancelButton{
    border: none;
    background-color: darkred;
    color: #ffdfe1;
    width: 80px;
    height: 30px;
    padding: 7px;
    border-radius: 7px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 10px;
}
.userChangePasswordCancelButton:hover{
    background-color: #ffdfe1;
    color:darkred;
}