.featured{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.featuredItem{
    flex: 1;
    margin: 15px 20px 5px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 4px 4px 9px -1px #000000; 
    box-shadow: 4px 4px 9px -1px darkcyan;
}
.featuredTitle{
    font-size: 20px;
}
.featuredMoneyContainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}
.featuredMoney{
    font-size: 25px;
    font-weight: 500;
}
.featuredMoneyRate{
    display: flex;
    align-items: center;
    margin-left: 12px;
}
.featuredIcon{
    font-size: 14px;
    margin-left: 5px;
    color: green;
}
.featuredIcon.negative{
    color: red;
}
.featuredSub{
    font-size: 15px;
    color: gray;
}