.ownerPendingVehicle{
    padding: 10px;
    height: 510px;
    background-image: linear-gradient(to bottom,rgba(85, 85, 99, 0.781),white);
}
.ownerPendingVehicleContainer{
    margin: 20px 290px;
    padding: 10px;
    width: 75%;
}
.ownerPendingVehicleTitleWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ownerPendingVehicleTable{
    -webkit-box-shadow: 4px 4px 9px -1px #000000; 
    box-shadow: 4px 4px 9px -1px #000000;
    border-radius: 10px;
    margin-top: 20px;
    width: 75%;
    height:370px;
    background-color: white ;
    
}
.ownerPendingVehicleListViewButton{
    color: rgb(17, 140, 17);
    cursor: pointer;
}
.userListDelete{
    margin-left: 10px;
}
