.ownerViewBooking{
    background-image: linear-gradient(
        to bottom,
        rgba(85, 85, 99, 0.781),
        rgba(255, 255, 255, 0.178)
      );
      height: 490px;
      padding: 20px;
}
.ownerViewBookingContainer{
    padding: 10px;
    margin: 0px auto;
}
.ownerViewBookingTitleWrapper{
    margin: 0px 200px;
}
.ownerViewBookingTable{
    height: 380px;
    width: 70%;
    -webkit-box-shadow: 4px 4px 9px -1px #000000;
  box-shadow: 4px 4px 9px -1px darkcyan;
  border-radius: 10px;
  background-color: #fff;
  margin: 30px auto;
}